.calendario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.react-calendar {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #8b4513;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile {
    color: black; 
}

.react-calendar__tile--now {
    background: #b8860b;
    color: white;
}

.react-calendar__tile--active {
    background: #8b4513;
    color: #ffffff;
}

.react-calendar__tile--active:hover,
.react-calendar__tile--now:hover {
    background: #a86f00;
    color: #fff;
}

.react-calendar__navigation button {
    color: #8b4513;
}


.react-calendar__month-view__days__day--sunday {
    color: #d9534f;
}
