
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #c02f2f; 
    min-height: 80vh; 
    width: 100%;
    box-sizing: border-box;
  }
  
  h2 {
    color: #8b5e3c; 
  }
  
 .inputGeral {
  width: 20%;
  padding: 15px;
 }

 .btnEntrar {
  padding: 17px;
  width: 22%;
  font-size: 25px;
  border-radius: 15px;
 }